<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.intelligentscheduling.dao.SchedulingRoleDao">

    <select id="SchedulingRoleSelect" parameterType="String" resultType="com.example.intelligentscheduling.entity.Scheduling_role">
            select * from scheduling_rules where storesId=#{storesId}</select>
</mapper>